# Resend API key for email sending
RESEND_API_KEY=<YOUR_RESEND_API_KEY>

# Chosen port
PORT=<YOUR_PORT>     # e.g. 3000

# Email address that receives contact form submissions
RECIPIENT_EMAIL=<YOUR_RECIPIENT_EMAIL>    

# Sender's email address
SENDER_EMAIL=<YOUR_SENDER_EMAIL>    # in RESEND usually onboarding@resend.dev  

# GEMINI_API_KEY for the Gemini service
GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>   